@{
    ViewBag.Title = "Login";
}

<main class="login_card">
    <h3>Property Rental Management</h3>
    <hr />
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div>
            <h2>Login</h2>
            <label for="txtUserName">Username</label>
            <input type="text" id="txtUserName" name="UserName" />
            <span id="userNameError" class="text-danger" style="display: none;"></span>
            <br />
            <label for="txtPassword">Password</label>
            <input type="password" id="txtPassword" name="Password" />
            <span id="passwordError" class="text-danger" style="display: none;"></span>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
            <br />
            <hr />
            <button type="submit" style="width: 60%;">Login</button>
        </div>
    }
    <hr />
    <p>Don't have an account? @Html.ActionLink("Sign Up", "SignUp", "Home")</p>
</main>

@section Scripts {
    <script>
        $(function () {
            $("form").submit(function (event) {
                // Prevent the form from submitting
                event.preventDefault();

                // Reset previous error messages
                $(".text-danger").hide();

                // Get the values of the username and password fields
                var userName = $("#txtUserName").val().trim();
                var password = $("#txtPassword").val().trim();

                // Check if the fields are empty
                if (userName === "") {
                    $("#userNameError").text("Username is required.").show();
                }

                if (password === "") {
                    $("#passwordError").text("Password is required.").show();
                }

                // If both fields are not empty, submit the form
                if (userName !== "" && password !== "") {
                    $(this).off("submit").submit();
                }
            });
        });
    </script>
}
